input#terms {
    margin-bottom: 9px;
}

li.agrovoc-term {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 2px 4px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    behavior: url(../css/PIE.htc);
}

ul.agrovoc-terms li.agrovoc-term {
    background-color: #3a87ad;
}

ul.selected-agrovoc-terms li.agrovoc-term {
    background-color: #3a87ad;
}

ul.selected-agrovoc-terms li.agrovoc-term:hover {
    background-color: #347A9C;
}

ul.selected-agrovoc-terms li.agrovoc-term:active {
    background-color: #2E6C8A;
}

ul.suggested-agrovoc-terms li.agrovoc-term {
    background-color: #d3d3d3;
}

ul.suggested-agrovoc-terms li.agrovoc-term:hover {
    background-color: #bebebe;
}

ul.suggested-agrovoc-terms li.agrovoc-term:active {
    background-color: #A9A9A9;
}

li.agrovoc-term span {
    padding: 0 4px;
    white-space: nowrap;
}
